@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

input::-ms-reveal,
input::-webkit-credentials-auto-fill-button,
input::-webkit-reveal-textfield-decoration,
input::-webkit-reveal-button {
  display: none;
}

/* @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap'); */

/* Animation for tooltip */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

@theme {

  --color-primary: #BF2C24;
  --color-primary-hover: #9b231c;
  --color-secondary: #FAE0E0;
  --color-secondary-hover: #d6a6a6;
  --color-background: #F4F2EF;
  --color-text: #111827;

  --color-gray-sidebar: #0B0B0B;

  --color-sidebar-admin-bg: #152259;
  --color-sidebar-admin-items: #509CDB;

  --font-sekuya: "Sekuya", sans-serif;
}